:root {
    --negro: #0d1321;
    --azul-oscuro: #1d2d44;
    --azul: #3e5c76;
    --azul-claro: #748cab;
    --fuente: #f0ebd8;
}

.container-card {
    width: 350px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--negro);
    border-radius: 10px;
    border: 2px solid var(--fuente);
    text-align: center;
    color: var(--fuente);
}

.container-card h1 {
    font-size: 21px;
}

.container-card p {
    font-size: 14px;
    margin-bottom: 0.5em;
}

.container-card:hover {
    background-color: var(--fuente);
    color: var(--negro);
    border: 2px solid var(--negro);
}

.img-card {
    width: 13em;
    margin: 0.5em;
}

@media (min-width: 2560px) {
    .container-card {
        width: 400px;
        height: 450px;
    }
    .container-card h1 {
        font-size: 28px;
    }
    
    .container-card p {
        font-size: 22px;
    }
    .img-card {
        width: 15em;
        margin: 1em;
    }
}

@media (max-width: 1630px) {
    .container-card {
        width: 300px;
        height: 300px;
    }
    .img-card {
        width: 12em;
    }
}

@media (max-width: 1280px) {
    .container-card {
        width: 290px;
        height: 280px;
    }
    .img-card {
        width: 11em;
    }
    .container-card h1 {
        font-size: 19px;
    }
}

@media (max-width: 1024px) {
    .container-card {
        width: 250px;
        height: 250px;
    }
    .img-card {
        width: 10em;
    }
    .container-card h1 {
        font-size: 18px;
    }
    .container-card p {
        font-size: 12px;
    }
}

@media (max-width: 912px) {
    .container-card {
        width: 300px;
        height: 350px;
    }
    .img-card {
        width: 13em;
    }
    .container-card h1 {
        font-size: 24px;
    }
    .container-card p {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .container-card {
        width: 250px;
        height: 300px;
    }
    .img-card {
        width: 11em;
    }
    .container-card h1 {
        font-size: 18px;
    }
    .container-card p {
        font-size: 13px;
    }
}

@media (max-width: 540px) {
    .container-card {
        width: 200px;
        height: 250px;
    }
    .img-card {
        width: 9em;
    }
    .container-card h1 {
        font-size: 16px;
    }
    .container-card p {
        font-size: 11px;
    }
}

@media (max-width: 414px) {
    .container-card {
        width: 270px;
        height: 200px;
    }
    .img-card {
        width: 9em;
    }
    .container-card h1 {
        font-size: 15px;
    }
    .container-card p {
        font-size: 11px;
    }
}

@media (max-width: 375px) {
    .container-card {
        width: 280px;
        height: 165px;
    }
    .img-card {
        width: 8em;
    }
    .container-card h1 {
        font-size: 15px;
    }
    .container-card p {
        font-size: 9px;
    }
}