.main-container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.projects-section {
    width: 85vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    color: var(--fuente);
    margin: 2em;
    border: 2px solid var(--fuente);
    border-radius: 5px;
}



.img-projects {
    width: 19em;
}

.title-projects {
    font-size: 40px;
}

.container-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

@media (min-width: 2560px) {
    .main-container-projects {
        height: 80vh;
    }
    
    .projects-section {
        width: 85vw;
        height: 75vh;
    }
    .img-projects {
        width: 27em;
    }
    
    .title-projects {
        font-size: 70px;
    }
}

@media (max-width: 1630px) {
    .img-projects {
        width: 17em;
    }
    
    .title-projects {
        font-size: 38px;
    }
}

@media (max-width: 1280px) {
    .main-container-projects {
        height: 95vh;
    }
    .projects-section {
        width: 85vw;
        height: 95vh;
    }
    .img-projects {
        width: 14em;
    }
    .title-projects {
        font-size: 34px;
    }
}

@media (max-width: 1024px) {
    .img-projects {
        width: 12em;
    }
    .title-projects {
        font-size: 26px;
    }
}

@media (max-width: 912px) {
    .img-projects {
        width: 17em;
    }
    .title-projects {
        font-size: 45px;
    }
}

@media (max-width: 768px) {
    .img-projects {
        width: 13em;
    }
    .title-projects {
        font-size: 30px;
    }
}

@media (max-width: 720px) and (max-height: 540px) {
    .img-projects {
        display: none;
    }
    .main-container-projects {
        height: 99vh;
    }
    .projects-section {
        height: 99vh;
    }
    .container-projects {
    gap: 0.5em;
    }
    .title-projects {
        font-size: 26px;
        margin-bottom: 0.5em;
    }
}

@media (max-width: 540px) {
    .img-projects {
        display: none;
    }
    .title-projects {
        font-size: 23px;
        margin: 1em;
    }
}

@media (max-width: 414px) {
    .title-projects {
        font-size: 21px;
    }
    .container-projects {
        gap: 0.5em;
    }
}

@media (max-width: 375px) {
    .main-container-projects {
        height: 99vh;
    }
    .projects-section {
        height: 99vh;
    }
    .title-projects {
        font-size: 20px;
        margin: 0.5em;
    }
    .container-projects {
        gap: 0.5em;
    }
}

@media (max-width: 280px) {
    .main-container-projects {
        height: 100vh;
    }
    .projects-section {
        width: 85vw;
        height: 100vh;
    }
    .title-projects {
        font-size: 20px;
    }
}